{% extends 'base/base.html' %}
{% block content %}

<main class="container">
    <div class="card card-body p-5 mt-5">
        {% include 'layout/header.html' %}
        <div class="row text-center w-25 mx-auto m-2">
            <a class="btn btn-dark text-capitalize mt-3" href="{% url 'create_inscription' id %}">crear matricula del estudiante</a>
            <a class="btn btn-dark text-capitalize mt-3" href="{% url 'list_inscriptions' id %}">listar matricula del estudiante</a>
            <a class="btn btn-dark text-capitalize mt-3" href="#">actualizar datos del estudiante</a>
            <a class="btn btn-danger text-capitalize mt-3" href="#">eliminar estudiante</a>
        </div>
    </div>
</main>
{% endblock %}