{% if user.is_authenticated %}
<nav class="d-flex justify-content-between">

    <ul class="nav nav-pills justify-content-sm-center align-items-center">
        <li class="nav-item">
            <a class="nav-link" href="#">Bienvenid@ {{user.username}}</a>
        </li>
    </ul>
    <ul class="nav nav-pills justify-content-sm-center align-items-center">
        {% if tittle != 'Main' %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'main' %}">Inicio</a>
        </li>
        {% endif %}
    </ul>

</nav>

{% else %}
<nav class="d-flex justify-content-end">

    <ul class="nav nav-pills justify-content-sm-center align-items-center">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signin' %}">Iniciar Sesión</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'signup' %}">Registrarse</a>
        </li>
    </ul>


</nav>
{% endif %}